**/__pycache__/**

mac_karabiner/dot-config/karabiner/automatic_backups/*
nvim/dot-config/nvim/lazy-lock.json

pgcli/dot-config/pgcli/history
pgcli/dot-config/pgcli/log

opencode/dot-config/opencode/package-lock.json
opencode/dot-config/opencode/bun.lock
opencode/dot-config/opencode/node_modules/
